html,
body,
#root {
  height: 100%;
}

@font-face {
  font-family: "Town31Dim";
  src: local("Town31Dim"),
    url(./assets/fonts/Town31Dim-Black.ttf) format("truetype");
}

body {
  background-image: url("./assets/images/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
}
